name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        mode: [ Debug, Release ]

    steps:
      - uses: actions/checkout@v2
      - uses: microsoft/setup-msbuild@v1.0.3

      - name: CMake
        run: cmake -G "Visual Studio 16 2019" -A x64 -S . -B build

      - name: Build
        run: cmake --build build --target examples --config ${{ matrix.mode }}

      - name: Run Burn In
        run: .\build\${{ matrix.mode }}\burn_in.exe

      - name: Run Fibonacci
        run: .\build\${{ matrix.mode }}\fibonacci.exe

      - name: Run Locking
        run: .\build\${{ matrix.mode }}\locking.exe

      - name: Run Parallel For
        run: .\build\${{ matrix.mode }}\parallel_for.exe
